{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true
    },
    "extends": "airbnb",
    "rules": {
        "react/jsx-indent" : ["error", "tab"],
        "indent": [ "error", "tab", { "SwitchCase": 1 }],
        "linebreak-style": 0,
        "no-tabs": ["warn", { "allowIndentationTabs": true }]
    }
}